<footer class="w3-container w3-theme-d5">
  <div class="w3-half">
    <h1>Ejemplo de actvidad</h1>
  </div>
  <div class="w3-half">
    <ul>
        <li>Marco</li>
        <li>Daniel</li>
        <li>Alejandro</li>
        <li>Victoria</li>
    </ul>
  </div>
</footer>